h2{
    color:rgb(203, 101, 101);
}

p{
    color:rgb(221, 22, 55);
}
button{
    color:rgb(230, 106, 203);
    background-color: rgb(136, 221, 129);
}

body{
    background-color: rgb(145,155,170);
}

